@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в приложение "Project Management"</h1>
    <p>
        Здесь вы можете легко и комфортно управлять проектами своей компании,
        добавлять в приложение новые проекты, удалять старые, назначать и снимать
        сотрудников с проекта. <strong>Приятного вам пользования!!!</strong>
    </p>
</div>
